<ion-view class="background" animation="slide-right-left">
  <ion-nav-buttons side="right">
    <img class="iterius" src="img/h-logo.png">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>

    <div ng-if="timeCount>0"
         ng-bind-html="timeCount | upperTiming" class="time-now" ng-controller="timeCtrl"></div>
  </ion-nav-buttons>

  <ion-content class="grey_back">
    <div id="wrapper">
      <header id="header">


      </header>
      <main id="main">
        <div class="titlePage hide-on-keyboard-open"><h3 ng-bind="title"></h3></div>
        <section>
          <div class="container-fluid">
            <div class="create-block">
              <form id="create-form-id" name="createForm">
                <div class="list-task">

                  <label class="item item-input">
                    <input name="title"
                           type="text"
                           ng-maxlength="255"
                           ng-minlength="4"
                           placeholder="{{'create_title'|translate}}"
                           ng-model="task.title"
                           required
                    >
                  </label>
                  <div style="text-align: left;padding-left: 3%; color: #ff0500;"
                       ng-show="createForm.$submitted || createForm.title.$touched">
                    <div ng-show="createForm.title.$error.required">{{'create_err1'|translate}}</div>
                    <div ng-show="createForm.title.$error.minlength">{{'create_err2'|translate}}</div>
                    <div ng-show="createForm.title.$error.maxlength">{{'create_err3'|translate}}</div>

                  </div>
                  <label style="margin-top: 3%" class="item item-input">
                    <textarea rows='5'
                              placeholder="{{'create_desc'|translate}}"
                              ng-model="task.description"
                    ></textarea>
                  </label>
                </div>

                <div class="list-task">

                  <label class="item item-input item-select">
                    <div class="input-label">
                      {{'create_assign'|translate}}
                    </div>
                    <select  ng-model="task.assigned">
                      <option ng-repeat="user in currentTeam" ng-value="user.id">{{user.name}}</option>
                    </select>
                  </label>

                </div>
                <ion-list ng-model="task.associated">
                  <ion-radio  ng-value="'0'">{{'create_assign1'|translate}}</ion-radio>
                  <ion-radio  ng-value="1">{{'create_assign2'|translate}}</ion-radio>
                  <ion-radio  ng-value="2">{{'create_assign3'|translate}}</ion-radio>
                </ion-list>
                <div class="row button-create">
                  <input ng-click="createT(task)"
                         class="button button-block button-positive"
                         ng-value="button"
                         ng-disabled="createForm.title.$invalid||task.associated==undefined"
                         type="submit"
                  >


                </div>
                <div class="row button-create">
                  <input ng-click="clearForm()"
                         class="button button-block button-positive"
                         value="{{'clear'|translate}}"
                         type="submit"
                  >


                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
      <footer id="footer"></footer>
    </div>
  </ion-content>
</ion-view>
