<ion-view class="background" title="ITERIUS">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     <img class="iterius" src="img/h-logo.png">
    <span ng-if="timeCount>0"
         ng-bind-html="timeCount | upperTiming" class="time-now" ng-controller="timeCtrl"></span>
  </ion-nav-buttons>

  <ion-content class="grey_back">
    <div id="wrapper">
      <header id="header">


      </header>
      <main id="main">
        <div class="titlePage"><h3>Create Task</h3></div>
        <section>
          <div class="container-fluid">
            <div class="create-block">
              <form id="create-form-id" name="createForm">
                <div class="list-task">

                  <label class="item item-input">
                    <input name="title"
                           type="text"
                           ng-maxlength="255"
                           ng-minlength="4"
                           placeholder="Title"
                           ng-model="task.title"
                           required
                    >
                  </label>
                  <label style="margin-top: 3%" class="item item-input">
                    <textarea rows='5'
                              placeholder="Description"
                              ng-model="task.desc"
                    ></textarea>
                  </label>
                </div>
                <div style="text-align: center; color: #ff0500;" ng-show="createForm.$submitted || createForm.title.$touched">
                  <div ng-show="createForm.title.$error.required">Field "Title" is empty</div>
                  <div ng-show="createForm.title.$error.minlength">Title is too short</div>
                  <div ng-show="createForm.title.$error.maxlength">Title is too long</div>

                </div>
                <div class="list-task">

                  <label class="item item-input item-select">
                    <div class="input-label">
                      Assign:
                    </div>
                    <select>
                      <option selected>Assign</option>
                      <option>Superadmin</option>
                      <option>Admin</option>
                      <option>Manager</option>
                      <option>User</option>
                      <option>Guest</option>
                    </select>
                  </label>

                </div>
                <ion-list>
                  <ion-radio ng-model="choice" ng-value="'A'">Not associate</ion-radio>
                  <ion-radio ng-model="choice" ng-value="'B'">Associated with project</ion-radio>
                  <ion-radio ng-model="choice" ng-value="'С'">Associated with task</ion-radio>
                </ion-list>
                <div class="row button-create">
                  <input ng-click="createT(task)"
                         class="button button-block button-positive"
                         value="Create"
                         ng-disabled="createForm.title.$invalid||choice==undefined"
                         type="submit"
                  >


                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
      <footer id="footer"></footer>
    </div>
  </ion-content>
</ion-view>
