<ion-view class="background" title="Team">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <div ng-if="timeCount>0"
         ng-bind="timeCount | timing" class="time-now" ng-controller="timeCtrl"></div>
  </ion-nav-buttons>
  <ion-content padding="true">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query">
      </label>
    </div>
    <span ng-bind="currentTeam.title"></span>
    <ion-list>
      <ion-item ng-repeat="user in currentTeam.users | filter : query">
        <div class="team">
          <div ng-click="showUser(user)" class="nameTask">
            <div style="width: 50%; float:left"><span ng-bind="user.name"></span></div>
            <div style="width: 50%; float:right"><span ng-bind="user.status||'Not Working'"></span></div>
          </div>
          <!--<ion-list ng-show='showTeam'  class="teamMembers">-->
          <!--<ion-item ng-repeat="user in team.users">-->
          <!--<div ng-click="clicked({{user}})" class="nameTask">-->
          <!--<span ng-bind="user.name"></span><span ng-bind="user.status|| 'Not Working'"></span>-->
          <!--</div>-->
          <!--</ion-item>-->
          <!--</ion-list>-->
        </div>
      </ion-item>
  </ion-content>
</ion-view>
