<ion-view animation="slide-left-right" title="Task">
  <!--<div>в тайтле разместить название задачи</div>-->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <main id="main">
      <section class="task-name">
        <div class="container-fluid">
          <div class="row">
            <h1>{{currentTask.name}}</h1>

          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
          <div class="startStopOrder" ng-click='toggleT({{currentTask}})'>
            <i ng-if="!currentTask.current" class="icon icon-right ion-ios-play-outline"></i>
            <i ng-if="currentTask.current" class="icon icon-right ion-ios-pause-outline"></i>
          </div>
          <div class="row">
            <div class="process-time">
              <span ng-bind="showTime"></span>
            </div>
          </div>
        </div>
      </section>
    </main>
  </ion-content>
</ion-view>
