<ion-view class="revertcolor" hide-back-button="true" animation="slide-right-left">
  <!--<div>в тайтле разместить название задачи</div>-->
  <ion-nav-buttons side="right">
    <img class="iterius" src="img/h-logo.png" ng-click="tasks()">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>

    <div ng-if="timeCount>0"
         ng-bind-html="timeCount | upperTiming" class="time-now" ng-controller="timeCtrl"></div>
  </ion-nav-buttons>


  <ion-content style="background: #e5e5e5" class="has-header">
    <div class="spin-container">
      <div class="spin" ng-if="busy">
        <ion-spinner icon="lines"></ion-spinner>
      </div>
    </div>
    <div class="list-task" style="margin-top: 5%">
      <label class="item item-input item-select">
        <div class="input-label">
          {{'stat_user'|translate}}
        </div>
        <select ng-model="query.user">
          <option ng-repeat="object in userStatList" ng-value="object.user.id">{{object.user.name}}</option>
        </select>
      </label>
    </div>
    <div class="list-task">
      <label class="item item-input item-select">
        <div class="input-label">
          {{'stat_year'|translate}}
        </div>
        <select ng-model="query.year">
          <option ng-repeat="year in years" ng-value="year">{{year}}</option>
        </select>
      </label>
    </div>
    <div class="list-task">

      <label class="item item-input item-select">
        <div class="input-label">
          {{'stat_month'|translate}}
        </div>
        <select ng-model="query.month">
          <option ng-repeat="month in months" ng-value="month.id">{{month.name}}</option>
        </select>
      </label>

    </div>
    <div class="row button-create">
      <input ng-click="runQuery()"
             class="button button-block button-positive"
             value="{{'search_button'|translate}}"
             type="submit"
      >
    </div>
    <div class="blue-parallel ">{{'sum_hours'|translate}}<span class="right-col">{{iter|statSumTime}}</span></div>
    <div class="blue-parallel" ng-if="differ>=0||differ==undefined">{{'underworked'|translate}} <span class="right-col">{{differ|statSumTime}}</span>
    </div>
    <div class="blue-parallel" ng-if="differ<0">{{'overworked'|translate}} <span class="right-col">{{differ|statSumTime}}</span>
    </div>
    <!--<div class="blue-parallel ">{{'sum_issue'|translate}}</div>-->
    <table class="table-stat" ng-if="table">
      <thead>
      <tr class="background">
        <th>№</th>
        <th>{{'date'|translate}}</th>
        <th>{{'day'|translate}}</th>
        <th>{{'time'|translate}}</th>
        <th>{{'break'|translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in answer.user.days">
        <td>{{$index+1}}</td>
        <td>{{item.date}}</td>
        <td>{{item.day}}</td>
        <td>{{item.time|statTime}}</td>
        <td>{{item.break|statTime}}</td>
      </tr>
      </tbody>
    </table>

  </ion-content>
</ion-view>
