<ion-view hide-back-button="true" animation="slide-right-left">
  <ion-nav-buttons side="right">
    <img class="iterius" src="img/h-logo.png" ng-click="tasks()">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>

    <div ng-if="timeCount>0"
         ng-bind-html="timeCount | upperTiming" class="time-now" ng-controller="timeCtrl"></div>
  </ion-nav-buttons>

  <ion-content class="has-header grey_back" on-swipe-right="bac()">
    <div class="titlePage">
      <div class="call_icon" ng-if="user.phone"><a ng-href="tel:{{user.phone}}"><img src="img/telephone-icon.png"></a>
      </div>
      <div class="call_icon" ng-if="!user.phone"><img src="img/telephone-icon-disabled.png"></div>
      <div ng-if="busy">
        <ion-spinner></ion-spinner>
      </div>


    </div>
    <div class="teamPage">
      <table>
        <tr class="userData">
          <td>{{'user'|translate}}</td>
          <td>{{user.name}}</td>
        </tr>
        <tr class="userData">
          <td>{{'start'|translate}}</td>
          <td>{{user.startedTime|bigTiming}}</td>
        </tr>
        <tr class="userData">
          <td>{{'end'|translate}}</td>
          <td>{{user.status||'Not working'}}</td>
        </tr>
      </table>

    </div>
    <ion-list can-swipe='true'>
      <ion-item class='itemTask' ng-class="{ActiveBackground: task.current == true}"
                ng-repeat="task in userTasks | filter : query">
        <div class="task">
          <div class="nameTask">
            <span ng-bind="task.name|sliceString"></span>

          </div>

        </div>
        <div class="currentTime2">
          <span ng-bind-html="task.time | timing"></span>

        </div>
        <div class="startStop" ng-click='toggleT(task)' ng-class="{ActiveBackground2: task.current == true}">
          <i ng-if="!task.current" class="icon icon-right ion-ios-play"></i>
          <i ng-if="task.current" class="icon icon-right ion-ios-pause"></i>
        </div>
        <ion-option-button class="hiding button-positive"
                           ng-click="editTask(task)">
          {{'edit_button'|translate}}
        </ion-option-button>
        <ion-option-button class="hiding button-assertive"
                           ng-click="deleteTask(task)">
          {{'delete_button'|translate}}
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<!--</ion-nav-view>-->
