/* Empty. Add your own CSS if you like */
.background, ion-content,ion-item{
  background-color: #282d39;
}
.list.list-inset{
  border-radius:10px ;
}
.logo{
  padding: 5% 0;
  text-align: center;
}
.login-check{
  border-style: hidden;
  background-color: inherit;
  color: white;
}
.list-task{
  margin:10% 5%;
}
label.item.item-input {
  border-radius: 5px;
}
.time-now{
  width:100%;
  font-size: xx-large;
  top: 10px;
  position: absolute;
  left:50%;
  color: #ffffff;
}
.button-create{
  width: 100%;
  margin: 0 auto;
}
.item-complex .item-content, .item-radio .item-content {
  background-color: #282d39;
  color: #ffffff;
}
.bar.bar-stable .title,.button {
  /*background-color: #282d39;*/
  color: #ffffff;
}
.bar-stable .button:hover {
  color: #FFF;

}
label.item.item-radio {
  margin: 0 3%;
  border-style: none;

}
.bar.bar-stable{
  background-color: #282d39;
}
.item-radio input:checked + .radio-content .item-content {
  background: #282d39;
  color: white;
}

div .task{
  width: 80%;
  float: left;
  margin: 0;
  overflow: hidden;
}
div .startStop {
  width: 20%;
  height: inherit;
  float: right;
  text-align: center;
  font-size: 200%;
}
div.time-now > p {
  margin: 0;
}
div .startStopOrder {
  width: 100%;
  height: inherit;

  text-align: center;
  font-size: 500%;
}
.ActiveBackground{
  background-color: #282d39;
  color: white;
}
.icon.ion-android-exit,
.icon .ion-ios-gear,
.icon .ion-plus-circled,
.icon .ion-person-stalker,
.icon .ion-briefcase{
  font-size: 150% !important;
}
.radio-icon.disable-pointer-events.icon.ion-checkmark {
  color: white;
}
